.button{
    border: none;
    outline:none;
    padding-inline: 1.5rem ;
    padding-block: 0.75rem;
    border-radius: 1rem;
    margin-top: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &.primary-button{
        background-color: #b1064a;
        color: white;
    }
    &:active{
        transform: scale(1.1);

    }



}